<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	타임리프 뷰
	
	
	<button id="getData">겟방식</button>
	
	<button id="getJSON">포스트방식</button>
	
	<button id="getFetch">실습</button>
	
	<button id="getFetch2">실습</button>
	
	
	<script >
		/////////////////
		let getData = document.getElementById("getData");
		getData.onclick = () => {
			
			fetch("/getData?sno=1&first=홍길동")
			.then( response => response.json() )
			.then( t => console.log(t) );
		}
	
		/////////////////
		let getJSON = document.getElementById("getJSON");
		getJSON.onclick = () => {
			
			
			fetch("/getJSON", {
				method : "post",
				headers : {
					"Content-Type" : "application/json"
				},
				body : JSON.stringify({ "sno": "1",  "first": "홍길동",  "last" : "이순신" })
			})
			.then( response => response.json() )
			.then( t => console.log(t) )
			
		}
	
		///////////////////
		
		let a = document.getElementById("getFetch");
		a.onclick = () => {
			
			fetch("http://localhost:8181/api/v1/getData/1/홍길동")
			.then( response => response.json() )
			.then( t => console.log(t) )
		}
		
		//////////////////////
		let b = document.getElementById("getFetch2");
		b.onclick = () => {
			
			fetch("http://localhost:8181/api/v1/getInfo", {
				method : "post",
				headers : {"Content-Type": "application/json"},
				body : JSON.stringify({"num" : "1", "name": "이순신"} )
			})
			.then( response => response.json() )
			.then( t => console.log(t) )
		}
		
		
	</script>
	
	
	
</body>
</html>